@charset "utf-8";

/*外壳*/

#goods_category {
    // width: 100%;
    padding-top: 10px;
    .w {
        height: 470px;
        margin-bottom: 30px;
        @include flex(row, space-between, center);
    }
    .inner_left {
        /* 左边分类 */
        @include mySize(190px, 470px);
        background-color: #fefefe;
        margin-right: 10px;
        ul {
            overflow: hidden;
            height: 450px;
            background-color: #fefefe;
            color: #636363;
            margin-top: 10px;
            width: 190px;
            li {
                height: 25px;
                line-height: 25px;
                padding-left: 18px;
                .active {
                    background-color: #d9d9d9;
                }
                a {
                    font-size: 14px;
                    color: #333;
                    text-decoration: none;
                }
                span {
                    padding: 0 2px;
                    font-size: 12px;
                }
            }
        }
    }
    .inner_middle {
        // @include mySize(790px, 470px);
        @include flex(row, space-between, center);
    }
    .inner_right {
        /* 右边 */
        @include mySize(190px, 470px);
        background-color: azure;
    }
}


/* 中间轮播图 */

//  左边
.ban_left {
    position: relative;
    @include mySize(590px, 470px);
    margin-right: 10px;
    // background-color: cyan;
    // @include flex(row, space-between, center);
    .banner_list {
        @include mySize(100%, 100%);
        position: relative;
        a {
            @include mySize(100%, 100%);
            img {
                @extend a;
            }
        }
        li {
            opacity: 0;
            @extend a;
            @include positionLeft(0, 0);
        }
    }
    .ban_ol {
        position: absolute;
        left: 30px;
        bottom: 20px;
        display: flex;
        li {
            width: 8px;
            height: 8px;
            margin-right: 4px;
            border: 1px solid rgba(0, 0, 0, .05);
            background: rgba(255, 255, 255, .4);
            border-radius: 50%;
        }
        .active {
            position: relative;
            // background-color: white;
            width: 9px;
            height: 9px;
            top: -2px;
            left: 0;
            border: 3px solid rgba(0, 0, 0, .1);
            background: rgba(255, 255, 255, 1);
        }
    }
    // 左边按钮
    .goods_ban_left {
        @include positionLeft(0, 50%);
        display: block;
        border-radius: 0;
        @include mySize(25px, 35px);
        line-height: 35px;
        background-color: #d9d9d9;
        background-color: rgba(0, 0, 0, .15);
        margin-top: -20px;
        font-size: 20px;
        z-index: 2;
        border: none;
        outline: none;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        // 隐藏
        // display: none;
        &:hover {
            background-color: rgba(0, 0, 0, .3);
        }
        span {
            position: relative;
            left: -3px;
            display: block;
            font-size: 12px;
            color: rgba(255, 255, 255, .8);
        }
    }
    .goods_ban_right {
        position: absolute;
        top: 50%;
        border-radius: 0;
        width: 25px;
        height: 35px;
        line-height: 35px;
        background-color: #d9d9d9;
        background-color: rgba(0, 0, 0, .15);
        margin-top: -20px;
        font-size: 20px;
        z-index: 2;
        border: none;
        outline: none;
        right: 0;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        &:hover {
            background-color: rgba(0, 0, 0, .3);
        }
        // display: none;
        span {
            position: relative;
            right: -3px;
            display: block;
            font-size: 12px;
            color: rgba(255, 255, 255, .8);
        }
    }
}


/* 中间轮播图右边 */

.ban_right {
    @include mySize(190px, 470px);
    margin-right: 10px;
    background-color: crimson;
    .ban_list {
        display: flex;
        @include mySize(100%, 100%);
        position: relative;
        li {
            @include positionLeft(0, 0);
            opacity: 0;
        }
    }
    .itemsli {
        @include flex(column, space-between, center);
        a {
            display: block;
            @include mySize(100%, 150px);
            img {
                @include mySize(100%, 100%);
            }
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}