@charset "utf-8";
// 顶部导航
#top_nav {
    width: 100%;
    color: #999;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

// 导航内容
.shortcut {
    height: 30px;
    section {
        float: left;
        padding: 0 7px 0px;
        .iconfont {
            color: #f10215;
            line-height: 30px;
        }
    }
    .login>a:nth-child(2) {
        margin-left: 8px;
        color: #f10215;
    }
    .info_top {
        float: right;
        li {
            float: left;
        }
        // 导航右边
        .line {
            overflow: hidden;
            margin: 11px 5px 0;
            width: 1px;
            height: 10px;
            background-color: #ccc;
        }
    }
}

.other {
    padding: 0 7px;
    height: 30px;
    line-height: 30px;
    @include flex(row, space-around, center);
    a {
        display: block;
    }
    .iconfont {
        margin-left: 3px;
        display: block;
        font-size: 12px;
    }
    &:nth-child(9)>a {
        color: #f10215;
    }
    &:last-child {
        position: relative;
        a {
            width: 60px;
        }
        .mobile {
            @include mySize(76px, 76px);
            background-color: #f10215;
            // margin: 5px auto;
            @include positionLeft(0px, 35px);
            background: #ffffff url(../img/code.png) 50% no-repeat;
            z-index: 3;
            box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        }
    }
}

// 
.main {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 10px;
    @include flex(column, center, center);
    .m_list {
        width: 1190px;
        .rank {
            width: 100%;
            height: 52px;
        }
    }
    .filter {
        margin-bottom: 12px;
        height: 40px;
        .f_line {
            height: 28px;
            background: #F2F2F2;
            padding: 7px 8px 5px;
            border-bottom: none;
            zoom: 1;
            // @include flex(row, center, center);
            a {
                float: left;
                position: relative;
                padding: 0 9px;
                height: 23px;
                border: 1px solid #ccc;
                line-height: 23px;
                margin-right: -1px;
                background: #FFF;
                color: #333;
                @include flex(row, center, center);
            }
            .fs_arrow {
                width: 7px;
                margin-left: 5px;
                font-style: normal;
            }
            span {
                vertical-align: top;
            }
            em {
                vertical-align: top;
            }
            .arrow {
                float: right;
                height: 11px;
                width: 7px;
                background: url(../img/sprite-arrow.png) no-repeat 0 -100px;
            }
            .fs_up {
                width: 7px;
                margin-left: 5px;
                font-style: normal;
                line-height: 23px;
                color: #333;
                float: right;
            }
            .arrow_top {
                display: block;
                height: 4px;
                background-position: -10px -100px;
                width: 7px;
                overflow: hidden;
                background: url(../img/sprite-arrow.png) no-repeat;
                background-position: -10px -100px;
            }
            .arrow_bottom {
                display: block;
                height: 4px;
                margin-top: 4px;
                background-position: -10px -100px;
                width: 7px;
                overflow: hidden;
                background: url(../img/sprite-arrow.png) no-repeat;
                background-position: -10px -110px;
            }
            .active {
                background-color: #e4393c;
                border-color: #e4393c;
                color: white;
                background-position: -10px -110px;
            }
        }
    }
}

// 数据列表
.list {
    width: 1210px;
    margin-right: -10px;
    li {
        float: left;
        &:hover {
            border-color: #e4393c;
            cursor: pointer;
        }
        width: 234px;
        height: 397px;
        margin-right: 2px;
        margin-bottom: 16px;
        border: 1px solid #fff;
        .wrap {
            padding: 9px 6px 0;
            @include flex(column, center, center);
        }
        .p_img {
            height: 220px;
            width: 220px;
        }
        .p_price {
            line-height: 22px;
            height: 22px;
            overflow: hidden;
            width: 100%;
            margin-bottom: 9px;
            strong {
                float: left;
                margin-right: 10px;
                color: #e4393c;
                font-size: 20px;
                em {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: Verdana;
                    margin-right: -5px;
                }
            }
        }
        .p_title {
            span {
                display: block;
                height: 36px;
                line-height: 20px;
                overflow: hidden;
                color: #666;
                &:hover {
                    color: #f30213;
                }
            }
            margin-bottom: 8px;
        }
        .p_commit {
            margin-bottom: 9px;
            width: 100%;
            height: 18px;
            strong {
                color: #a7a7a7;
                font-weight: 400;
                a {
                    color: #005aa0;
                    font-family: verdana;
                    font-weight: 700;
                }
            }
        }
        .p_icon {
            margin-bottom: 12px;
            width: 100%;
            span {
                float: left;
                display: inline-block;
                overflow: hidden;
                height: 16px;
                padding: 0 2px;
                margin-right: 3px;
                background: #E4393C;
                line-height: 16px;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                color: #FFF;
            }
        }
        .p-operate {
            width: 100%;
            i {
                position: absolute;
                display: block;
                font-style: normal;
                left: 4px;
                top: 3px;
                width: 18px;
                height: 18px;
                background: url(../img/search.ele.png) no-repeat 9999px 9999px;
            }
            .operate {
                float: left;
                width: 28px;
                height: 25px;
                line-height: 25px;
                border: 1px solid #DDD;
                padding: 0 3px 0 24px;
                position: relative;
                background: #fff;
                color: #999;
                i {
                    background-position: 0 -413px;
                }
            }
            .cart {
                float: left;
                height: 25px;
                line-height: 25px;
                border: 1px solid #DDD;
                padding: 0 3px 0 24px;
                position: relative;
                background: #fff;
                width: 67px;
                text-align: center;
                color: #e4393c;
                margin-left: -1px;
                i {
                    background-position: 0 -272px;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    @include flex(column, center, center);
    // display: flex;
    height: 565px;
    .footer_service {
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid #dedede;
        @include flex(row, center, center);
        // 多块好省
        .footer_list {
            width: 1190px;
            height: 42px;
            display: flex;
            // .footer_unit {
            //     // justify-content: space-around;
            //     // display: flex;
            //     width: 180px;
            // }
            .txt {
                // width: 100%;
                height: 42px;
                line-height: 42px;
                font-size: 18px;
                font-weight: 700;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #444;
            }
        }
        li {
            width: 254px;
            @include flex(row, center, center);
            padding-left: 45px;
            &:nth-child(2) {
                h5 {
                    background-position: -41px -192px;
                }
            }
            &:nth-child(3) {
                h5 {
                    background-position: -82px -192px;
                }
            }
            &:nth-child(4) {
                h5 {
                    background-position: -123px -192px;
                }
            }
        }
        h5 {
            display: block;
            // @include positionLeft(0, 0);
            width: 36px;
            height: 42px;
            margin-right: 10px;
            // margin-left: -10px;
            text-indent: -9999px;
            background-image: url("../img/spirit.png");
            background-position: 0 -192px;
            background-repeat: no-repeat;
        }
    }
}

// 服务列表
.help {
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    .mod_help_nav {
        width: 198px;
        h5 {
            margin-bottom: 5px;
            font-size: 14px;
        }
        li {
            line-height: 22px;
            a {
                color: #666;
            }
        }
    }
    .help_cover {
        width: 180px;
        padding: 0 10px;
        h5 {
            margin-bottom: 15px;
            font-size: 14px;
            text-align: center;
        }
        p {
            color: #666;
            line-height: 22px;
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}

.copyright {
    padding: 15px 0;
    span {
        margin: 0 10px;
        color: #999999;
    }
    .copyright_links {
        width: 100%;
        @include flex(row,
        space-around,
        center);
    }
    .address {
        @include flex(column,
        center,
        center);
        padding: 10px 0;
        line-height: 22px;
    }
    p {
        &:last-child {
            margin: 25px 0;
            height: 32px;
            a {
                // display: block;
                margin: 0 3px;
                width: 103px;
                height: 100%;
                // line-height: 1000px;
            }
        }
    }
}

#top_warp {
    width: 100%;
    height: 52px;
    background: #ffffff;
    position: fixed;
    top: 0;
    @include flex(row,
    center,
    center);
    .top_float {
        width: 100%;
        height: 52px;
    }
    .search_top {
        top: 400px;
    }
}

.elevator {
    position: fixed;
    top: 75px;
    left: 50%;
    margin-left: 615px;
    z-index: 100;
    .ele_list {
        overflow: hidden;
    }
    .ele_item {
        .ele_lk_txt {
            display: block;
            width: 38px;
            height: 38px;
            text-align: center;
            line-height: 19px;
            font-size: 14px;
            color: #333;
            padding: 10px;
            transition: color .2s ease;
            background: #fff;
            z-index: 1;
        }
    }
    .back {
        font-size: 14px;
        width: 38px;
        height: 38px;
        padding: 10px;
        background: #fff;
        text-align: center;
        line-height: 19px;
        // 
    }
    .ele_item :hover {
        cursor: pointer;
        background-color: #c81623;
        color: #fff;
    }
    .back:hover {
        cursor: pointer;
        background-color: #c81623;
        color: #fff;
    }
}