@charset "utf-8";
// 特色优选
.char_favor {
    @include flex(row, space-between, center);
    margin-bottom: 20px;
    background-color: darksalmon;
    .grid_left {
        @include mySize(590px, 340px);
        background-color: blue;
    }
    .grid_right {
        @include mySize(590px, 340px);
        background-color: aquamarine;
    }
}

// 发现好货
.find_goods {
    height: 260px;
    // background-color: crimson;
    @include flex(row, space-between, center);
}

.find_left {
    @include mySize(190px, 260px);
    display: block;
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/e222ff5affd7051c21a5df1af734893b.png);
    .logo-text {
        width: 160px;
        height: 90px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        font-size: 16px;
        position: relative;
        color: rgba(255, 255, 255, .8);
        span {
            position: absolute;
            top: 56px;
            left: 20px;
        }
        i {
            background-position: 0 -16px;
            width: 16px;
            height: 16px;
            position: absolute;
            margin-left: 6px;
            margin-top: -2px;
            vertical-align: middle;
            display: inline-block;
            top: 60px;
            left: 100px;
        }
    }
}

.find_right {
    @include mySize(990px, 260px);
    display: block;
    background-color: cornflowerblue;
}

// 新品首发
.new_goods {
    @include flex(row, space-between, center);
    margin: 20px 0;
    &>.new {
        @include mySize(290px, 340px);
    }
    .newArrival {
        background-color: aquamarine;
    }
    .ranking {
        background-color: blueviolet;
    }
    .nice-shop {
        background-color: crimson;
    }
    .coupon {
        background-color: cyan;
    }
}