@charset "UTF-8";
.w {
  width: 1190px;
  margin: auto;
}

a {
  color: #999;
  text-decoration: none;
}

img, .inner_right section:nth-child(1) .head_pic {
  display: block;
}
img:hover, .inner_right section:nth-child(1) .head_pic:hover {
  opacity: 0.8;
}

body {
  background-color: #f4f4f4;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page_top {
  width: 100%;
  height: 80px;
  height: 80px;
  background-color: #4254c0;
}
#page_top .top_banner, #page_top .top_banner .top_container {
  height: 100%;
  display: block;
}
#page_top .top_banner .top_container {
  position: relative;
  background-image: url("http://img20.360buyimg.com/babel/jfs/t1/118746/29/18323/111231/5f686328Ef4c48e53/fc65234a6e83643f.jpg!q70.jpg.webp");
  background-size: cover;
}
#page_top .top_banner .top_container .iconfont {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 20px;
  margin-right: 4px;
}

#top_nav {
  width: 100%;
  color: #999;
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
}

.shortcut {
  height: 30px;
}
.shortcut section {
  float: left;
  padding: 0 7px 0px;
}
.shortcut section .iconfont {
  color: #f10215;
  line-height: 30px;
}
.shortcut .login > a:nth-child(2) {
  margin-left: 8px;
  color: #f10215;
}
.shortcut .info_top {
  float: right;
}
.shortcut .info_top li {
  float: left;
}
.shortcut .info_top .line {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.other {
  padding: 0 7px;
  height: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.other a {
  display: block;
}
.other .iconfont {
  margin-left: 3px;
  display: block;
  font-size: 12px;
}
.other:nth-child(9) > a {
  color: #f10215;
}
.other:last-child {
  position: relative;
}
.other:last-child a {
  width: 60px;
}
.other:last-child .mobile {
  width: 76px;
  height: 76px;
  background-color: #f10215;
  position: absolute;
  top: 35px;
  left: 0px;
  background: #ffffff url(../img/code.png) 50% no-repeat;
  z-index: 3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#header {
  width: 100%;
  height: 140px;
  position: relative;
  background-color: #fff;
}
#header .w {
  position: relative;
  height: 60px;
}

#logo {
  width: 190px;
  height: 120px;
  position: absolute;
  top: 10px;
  left: 0px;
  position: relative;
}
#logo a {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 0;
}
#logo a h1 {
  text-indent: -999px;
}

.gif {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.gif .gif_img {
  display: block;
  width: 134px;
  height: 120px;
  background-color: #fff;
  opacity: 0;
  margin: 0 auto;
  clear: both;
  background-size: auto 100%;
}
.gif .scene_text {
  position: absolute;
  line-height: 20px;
  left: 50%;
  opacity: 0;
  width: 120px;
  font-size: 16px;
  margin-left: -60px;
  top: 36px;
  font-weight: 700;
  background: transparent;
  color: #333;
  text-align: center;
  z-index: 1;
  color: #494949;
}
.gif .scene_btn {
  position: absolute;
  line-height: 20px;
  left: 50%;
  opacity: 0;
  width: 60px;
  height: 20px;
  bottom: 35px;
  margin-left: -32px;
  text-indent: 4px;
  font-size: 12px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 11px;
  color: white;
  background-color: #ffd07d;
}

.search-m {
  width: 1190px;
  margin: 0 auto;
  position: relative;
  height: 52px;
}

.search-logo {
  background-image: url("../img/sprite.png");
  background-position: 0 -120px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 125px;
  height: 40px;
  display: none;
  text-indent: -999px;
  position: absolute;
  left: 0;
  top: 4px;
}

.search-fix {
  position: fixed;
  z-index: 100;
  left: 0;
  top: -60px;
  width: 100%;
  border-bottom: 2px solid #f10214;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  animation: .5s ease-in-out;
}
.search-fix .search {
  top: 10px;
}
.search-fix .cart {
  top: 10px;
}

.search {
  position: absolute;
  top: 25px;
  left: 260px;
  width: 550px;
  height: 32px;
  border: 2px solid #e2231a;
  background: #fff;
}
.search .shelper {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 488px;
}
.search .search_inner, .search input {
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
  padding: 2px 44px 2px 17px;
  width: 425px;
  height: 26px;
  border: 1px solid transparent;
  line-height: 32px;
  font-size: 12px;
}
.search .pic {
  position: absolute;
  right: 75px;
  top: 10px;
  width: 20px;
  height: 20px;
}
.search .pic .iconfont {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  font-size: 18px;
  text-align: center;
  color: #9f9f9f;
  cursor: pointer;
}
.search .search_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 32px;
  line-height: 32px;
  border: none;
  background-color: #e1251b;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.cart {
  position: absolute;
  right: 230px;
  top: 25px;
  width: 130px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #e3e4e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cart .iconfont {
  margin-right: 13px;
  color: #e1251b;
}
.cart a {
  color: #e1251b;
}

.hotwords {
  position: absolute;
  top: 65px;
  left: 425px;
}
.hotwords a {
  line-height: 20px;
  margin-right: 6px;
  white-space: nowrap;
  color: #999;
}
.hotwords a:first-child {
  color: #e1251b;
}

.navitems {
  position: absolute;
  bottom: 0;
  left: 368px;
}
.navitems ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navitems ul li {
  margin-left: 1px;
}
.navitems ul a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #333;
  margin: 0 11px;
}
.navitems ul .first,
.navitems ul .sec {
  font-weight: 700;
  color: #e1251b;
}

/*外壳*/
#goods_category {
  padding-top: 10px;
}
#goods_category .w {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#goods_category .inner_left {
  /* 左边分类 */
  position: relative;
  width: 190px;
  height: 470px;
  background-color: #fefefe;
  margin-right: 10px;
}
#goods_category .inner_left ul {
  overflow: hidden;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
  margin-top: 10px;
  width: 190px;
}
#goods_category .inner_left ul li {
  height: 25px;
  line-height: 25px;
  padding-left: 18px;
}
#goods_category .inner_left ul li a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}
#goods_category .inner_left ul li span {
  padding: 0 2px;
  font-size: 12px;
}
#goods_category .inner_left ul .active {
  background-color: #d9d9d9;
}
#goods_category .inner_middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cartlist {
  position: absolute;
  left: 191px;
  top: 0;
  width: 998px;
  min-height: 468px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
  z-index: 10;
}

.item {
  padding: 20px;
  display: none;
}

/* 中间轮播图 */
.ban_left {
  position: relative;
  width: 590px;
  height: 470px;
  margin-right: 10px;
}
.ban_left .banner_list {
  width: 100%;
  height: 100%;
  position: relative;
}
.ban_left .banner_list a {
  width: 100%;
  height: 100%;
}
.ban_left .banner_list a img, .ban_left .banner_list a .inner_right section:nth-child(1) .head_pic, .inner_right section:nth-child(1) .ban_left .banner_list a .head_pic {
  width: 100%;
  height: 100%;
}
.ban_left .banner_list li {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ban_left .ban_ol {
  position: absolute;
  left: 30px;
  bottom: 20px;
  display: flex;
}
.ban_left .ban_ol li {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.ban_left .ban_ol .active {
  position: relative;
  top: -2px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  content: " ";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 0;
  background-color: white;
}

.goods_ban_left, .goods_ol_left, .seckill .goods_seckill_left {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  border-radius: 0;
  width: 25px;
  height: 35px;
  line-height: 35px;
  background-color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: -20px;
  font-size: 20px;
  z-index: 2;
  border: none;
  outline: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.goods_ban_left:hover, .goods_ol_left:hover, .seckill .goods_seckill_left:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.goods_ban_left span, .goods_ol_left span, .seckill .goods_seckill_left span {
  position: relative;
  left: -3px;
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

.goods_ban_right, .goods_ol_right, .seckill .goods_seckill_right {
  position: absolute;
  top: 50%;
  border-radius: 0;
  width: 25px;
  height: 35px;
  line-height: 35px;
  background-color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: -20px;
  font-size: 20px;
  z-index: 2;
  border: none;
  outline: none;
  right: 0;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.goods_ban_right:hover, .goods_ol_right:hover, .seckill .goods_seckill_right:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.goods_ban_right span, .goods_ol_right span, .seckill .goods_seckill_right span {
  position: relative;
  right: -3px;
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

/* 三联轮播按钮 */
.goods_ol_left {
  display: none;
}

.goods_ol_right {
  display: none;
}

/* 中间轮播图右边 */
.ban_right {
  width: 190px;
  height: 470px;
  margin-right: 10px;
  position: relative;
}
.ban_right .ban_list {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.ban_right .ban_list li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.ban_right .itemsli {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ban_right .itemsli a {
  display: block;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
.ban_right .itemsli a img, .ban_right .itemsli a .inner_right section:nth-child(1) .head_pic, .inner_right section:nth-child(1) .ban_right .itemsli a .head_pic {
  width: 100%;
  height: 100%;
}
.ban_right .itemsli a:last-child {
  margin-bottom: 0px;
}

.inner_right {
  /* 右边 */
  width: 190px;
  height: 470px;
  background-color: white;
  /* 图标tab */
}
.inner_right section {
  width: 190px;
}
.inner_right section .login_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.inner_right section:nth-child(1) img, .inner_right section:nth-child(1) .head_pic {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
}
.inner_right section:nth-child(1) .head_pic {
  margin-right: 20px;
  border: 1px solid white;
}
.inner_right section:nth-child(1) aside {
  color: #999;
  font-size: 12px;
}
.inner_right section:nth-child(1) aside a {
  margin-right: 3px;
}
.inner_right section:nth-child(1) .new_plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 35px;
  position: relative;
}
.inner_right section:nth-child(1) .new_plus a {
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #e1251b;
}
.inner_right section:nth-child(1) .new_plus a:nth-child(2) {
  background: #363634;
  color: #e5d790;
}
.inner_right section:nth-child(1) .new_plus a:hover {
  background-color: #c81623;
  color: #fff;
}
.inner_right section:nth-child(1) .new_plus:after {
  position: absolute;
  height: 1px;
  left: 15px;
  right: 15px;
  background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
  content: " ";
  bottom: 0;
}
.inner_right section:nth-child(2) .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #999;
  height: 20px;
  padding: 10px 0 0;
  position: relative;
  line-height: 20px;
  margin-bottom: 8px;
}
.inner_right section:nth-child(2) .title aside {
  margin-right: 15px;
}
.inner_right section:nth-child(2) .title .iconfont {
  color: #999;
  font-size: 10px;
}
.inner_right section:nth-child(2) h5 {
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
  color: #333;
}
.inner_right section:nth-child(2) .hot_list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16px;
  line-height: 16px;
  color: #999;
  margin-bottom: 6px;
}
.inner_right section:nth-child(2) .hot_list li a {
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.inner_right section:nth-child(2) .hot_list li span {
  width: 35px;
  height: 16px;
  line-height: 16px;
  color: #e1251b;
  text-align: center;
  background-color: rgba(225, 37, 27, 0.08);
  margin-right: 6px;
}
.inner_right .tab_service {
  height: 238px;
  position: relative;
}
.inner_right .tab_service:before {
  position: absolute;
  height: 1px;
  left: 15px;
  right: 15px;
  background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
  content: " ";
  top: 0;
}

#shop_main {
  width: 1190px;
}

.seckill {
  height: 260px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seckill .seckill_left {
  position: relative;
  width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  color: #fff;
  background-color: #e83632;
  background-image: url(http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.seckill .seckill_left .title {
  margin-top: 31px;
  font-size: 30px;
  font-weight: 700;
}
.seckill .seckill_left .desc {
  margin-top: 100px;
  font-size: 14px;
  vertical-align: middle;
}
.seckill .seckill_left .desc strong {
  font-size: 18px;
  padding-right: 2px;
  margin-top: -1px;
  vertical-align: middle;
}
.seckill .seckill_middle {
  width: 800px;
  height: 260px;
  position: relative;
  overflow: hidden;
}
.seckill .seckill_middle .seckill_list {
  flex-wrap: nowrap;
  background-color: white;
  display: flex;
}
.seckill .seckill_middle .seckill_list img, .seckill .seckill_middle .seckill_list .inner_right section:nth-child(1) .head_pic, .inner_right section:nth-child(1) .seckill .seckill_middle .seckill_list .head_pic {
  width: 140px;
  height: 140px;
}
.seckill .seckill_middle .seckill_list li {
  flex-shrink: 0;
  width: 200px;
  height: 260px;
}
.seckill .seckill_middle .seckill_list a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seckill .seckill_middle .seckill_list h6 {
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  color: #333;
  margin-top: 13px;
}
.seckill .square {
  height: 22px;
  border: 1px solid #e1251b;
  background-color: #e1251b;
  width: 160px;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.seckill .square .s_price {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* 左边价格 */
}
.seckill .square .s_price:nth-child(1) {
  width: 92px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.seckill .square .s_price:nth-child(1):before {
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: -2px;
  left: 86px;
}
.seckill .square .s_price:nth-child(2) {
  color: #999;
  font-size: 12px;
  height: 100%;
  width: 66px;
  background: #fff;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: line-through;
  vertical-align: top;
}
.seckill .seckill_right {
  width: 180px;
  height: 240px;
  padding: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.seckill .major_ul {
  display: flex;
}
.seckill .major_ul a {
  width: 100%;
  height: 100%;
}
.seckill .major_ul .item_info {
  width: 170px;
  margin-top: 10px;
  height: 90px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(220, 224, 236, 0.5));
  text-align: center;
  font-size: 14px;
  position: relative;
}
.seckill .major_ul .item_info .big_pai {
  color: #e1251b;
  border-radius: 14px;
  width: 82px;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  font-weight: 700;
  padding-left: 4px;
  font-size: 12px;
  border: 1px solid #e1251b;
  margin-top: 4px;
}
.seckill .major_ul p {
  width: 180px;
  text-align: center;
  line-height: 20px;
}
.seckill .major_ul p:nth-child(1) {
  font-size: 14px;
  color: #666;
}
.seckill .major_ul p:nth-child(2) {
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.seckill .major_ul .bi_img {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  margin-left: 30px;
}
.seckill .major_ul li {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.major_ol {
  position: absolute;
  bottom: 15px;
  right: 87px;
}
.major_ol li {
  position: relative;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 4px;
  border-radius: 50%;
  background: #999;
}
.major_ol .active {
  background-color: #e1251b;
}

/*# sourceMappingURL=index.css.map */
